# We use pip-tools to manage dependencies, which means that this
# file just lists them without version numbers. If you add a new
# dependency, you need to run `pip-compile` to update the
# requirements.txt file.

# Keep this list sorted alphabetically.

arrow
click
GitPython
humanize
langchain_core
langchain_anthropic
langchain_openai
loguru
prompt-toolkit
pyperclip
pyyaml
rich
tiktoken
