# We use pip-tools to manage dependencies, which means that this
# file just lists them without version numbers. If you add a new
# dependency, you need to run `pip-compile` to update the
# requirements.txt file.

# Keep this list sorted alphabetically.

arrow
asyncclick
beautifulsoup4 # needed by langchain
faiss-cpu # for learn
GitPython
humanize
langchain
loguru
nats.py
openai
prompt-toolkit
pyyaml
rich
tiktoken
