# Install this for local development
-r requirements.txt
-r requirements-test.txt

# Install aicodebot so we can use aicodebot to build itself! 🤖
aicodebot

# For committing, formatting, and dependency management
black
isort
pip-tools
pre-commit
ruff

# Optional goodies that improve the developer experience
pytest-sugar
better_exceptions
pdbpp # ipython in pdb


# Release management
python-semantic-release
