# Install this for local development
-r requirements.txt
-r requirements-test.txt

# For committing, formatting, and dependency management
black
isort
pip-tools
pre-commit
ruff

# Optional
pytest-sugar

